body{
    margin:0;
}
/* Introduction part */
.introduction{
    display: flex;
    
}
.intro-texts{
 width: 50%;
 margin: 10% 10% 0 10%;
}
.intro-heading{
    font-family: 'Yeseva One', cursive;
    font-size: 35px;
    line-height: 40px;
    border-left: 4px solid #FF5959;
    padding-left: 20px;
}
#intro-heading1{
    color: #333333;
}
#intro-heading2{
    color: #FFAD5A;
}
.intro-para{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #3E3E3E;
    padding-bottom: 20px;
}
.explore-btn{
    text-decoration: none;
    background-image: linear-gradient(to right,#FF5959,#FFAD5A);
    font-size: 18px;
    color: #FFF;
    padding: 12px 40px;
    border-radius: 6px;
    margin: 10px 0;
}
.ip-2{
    padding-top: 20px;
}
.intro-img{
    width: 50%;
    padding-left: 20px;
}
#intro-pic{
    width: 80%;
    
}

/* Mission 2022 part */
.mission-heading{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    line-height: 70px;
    color: #13103A;
}
.mission-heading span{
    color: #FFAD5A;
}
.mission-parent{
    display: flex;
    margin: 3% 7%;
}
.mission-parent img{
    height: 141px;
    width: 141px;
}
.m-box{
    width: 33%;
    margin: 1%;
    border-radius: 20px;
    padding: 3% 2%;
    font-family: 'Poppins', sans-serif;
    
}
.mission-box{
    background-color: rgb(79, 157, 166, 10%);
}
.vission-box{
    background-color: rgb(255, 89, 89, 10%);
}
.goal-box{
    background-color: rgb(255, 244, 214);
}

/* Develop part */
.develop{
    margin-bottom: 100px;
}
.develop-parent{
    display: flex;
    
}
.develop-img{
    width: 40%;
    margin-left: 8%;
    background-image: url(images/shapes/shape-1.png);
    background-position: left center;
    background-size: 35%;
    background-repeat: no-repeat;
}
#dev-pic{
    width: 80%;
    margin-left: 15%;
}
.develop-texts{
    width: 50%;
    font-family: 'Poppins', sans-serif;
    margin-right: 8%;
    padding-left: 40px;
}
.develop-texts h1{
    font-size: 37px;
    color: #333333;
}
.develop-texts p{
    color: #3E3E3E;
    font-size: 18px;
    padding-bottom: 20px;
}
/* both dev and com section */
#cmn-btn{
    text-decoration: none;
    background-color: #7c19ec;
    color: #FFF;
    padding: 13px 35px;
    border-radius: 6px;
}

/* Community section */
.community{
    margin-bottom: 100px;
}
.community-parent{
    display: flex;
    
}
.community-img{
    width: 40%;
    margin-left: 8%;
    background-image: url(images/shapes/shape-1.png);
    background-position:   bottom 20px right 20px;
    background-size: 35%;
    background-repeat: no-repeat;
}
#com-pic{
    width: 80%;
    margin-right: 15%;
    margin-bottom: 15%;
}
.community-texts{
    width: 50%;
    font-family: 'Poppins', sans-serif;
    margin-left: 15%;
}
.community-texts h1{
    font-size: 37px;
    color: #333333;
}
.community-texts p{
    color: #3E3E3E;
    font-size: 18px;
    padding-bottom: 20px;
}
/* !Innovative section -feedback section*/
.feed-parent{
    margin-left: 23%;
    display: flex;
}
.feedback{
 width: 50%;
 background-color: rgba(33, 134, 148, 0.3);
 padding: 5% 7%;
 border-radius: 20px;
 margin-bottom: 100px;
 background-image: url(images/shapes/shape-2.png);
 }
.feedback h1{
font-family: 'Poppins', sans-serif;
}
.feedback h1 span{
    color: #fff;
}
.feedback label{
    font-family: 'Poppins', sans-serif;
    letter-spacing: -1px;
    color: black;
}

input{
    height: 35px;
    width: 400px;
    border-radius: 8px;
    outline: none;
    border: 1px solid gray;
    margin-bottom: 10px;
}
textarea{
    height: 150px;
    width: 400px;
    resize: none;
    border-radius: 8px;
    outline: none;
}
#submit-btn{
    height: 35px;
    width: 100px;
    background-color: #7c19ec;
    color: #FFF;
    font-size: 16px;
}


/* Footer section */
.footer-parent{
    text-align: center;
    background-color: #0B0D17;
    padding: 25px 0;;
}
.footer-header{
    font-family: 'Courgette', cursive;
    line-height: 44px;
    color: #FFF;
}
.footer-header span{
    color: #FF5959;
    
}
.footer-para{
    font-family: 'Manrope', sans-serif;
    font-size: 12px;
    color: #D9DBE1;
    margin: 0;
    padding-bottom: 10px;
}